amqp==5.2.0
anyio==4.3.0
APScheduler==3.10.4
billiard==4.2.0
cachetools==5.3.3
celery==5.4.0
certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.7
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
colorama==0.4.6
cssbeautifier==1.15.1
dateparser==1.2.0
djlint==1.34.1
EditorConfig==0.12.4
h11==0.14.0
html-tag-names==0.1.2
html-void-elements==0.1.0
httpcore==1.0.5
httpx==0.27.0
idna==3.7
jsbeautifier==1.15.1
json5==0.9.25
kombu==5.3.7
mypy-extensions==1.0.0
packaging==24.1
pathspec==0.12.1
pip-autoremove==0.10.0
platformdirs==4.2.2
prompt-toolkit==3.0.47
PySocks==1.7.1
python-dateutil==2.9.0.post0
python-telegram-bot==21.3
pytz==2024.1
PyYAML==6.0.1
rapidfuzz==3.9.0
redis==5.0.5
requests==2.32.2
setuptools==70.0.0
six==1.16.0
sniffio==1.3.1
thefuzz==0.22.1
tqdm==4.66.4
tzdata==2024.1
tzlocal==5.2
urllib3==2.2.2
vine==5.1.0
wcwidth==0.2.13
aiohttp==3.10.5
